* {
  margin:0;
  padding: 0;
  background-color: #F5F5F5;
}

:root {
  --navy: #001F3F;
  --green: #2ECC40;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --blue: #0074D9;
  --purple: #B10DC9;
  --teal: #39CCCC;

  --elementscolor: #D65C37;
  --maincolor: #67727A;
  --secondcolor: #6991AC;
  --lightcolor: #C3D7DF;
  --backgroundcolor: #F5F5F5;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.noselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}
